@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .form-h1{
        @apply text-white text-4xl font-bold
    }
    .form-p1 {
        @apply text-green-400
    }
    .form-input {
        @apply text-red-500  
    }
    .form-animate-in {
        @apply translate-y-0 opacity-100
    }
    .form-animate-out {
        @apply translate-y-full opacity-0
    }
    .form-animate {
        @apply flex flex-col items-center justify-center absolute inset-0
    }
    .form-p2 {
        @apply text-white;
    }
    .form-a {
        @apply text-blue-400;
    }
    .form-input {
        @apply w-full p-4 mb-2 text-white border rounded-lg border-slate-600 bg-slate-900;
    }
    .form-btn {
        @apply w-full py-3 mb-6 text-white font-semibold hover:bg-blue-700 hover:scale-105 transform bg-blue-600 rounded-lg;
    }
    .form-error {
        @apply text-sm text-red-400 mt-1.5 mb-3 font-medium border-l-4 border-red-500 pl-2; 

    }

       .home-btn {
        @apply px-4 py-2 text-white transition-all duration-300 transform border rounded-lg cursor-pointer bg-gradient-to-r from-slate-800 to-slate-700 border-slate-600 hover:from-slate-700 hover:to-slate-600 hover:border-slate-500 hover:shadow-lg hover:shadow-slate-500/50 hover:-translate-y-1;
    }

    .home-h1 {
        @apply flex items-center gap-2 mb-4 text-2xl font-bold text-white;
    }

    .home-btn-active {
        @apply px-4 py-2 font-semibold text-white scale-105 border-2 border-blue-400 rounded-lg shadow-xl bg-gradient-to-r from-blue-600 to-blue-800 shadow-blue-500/50;
    }
}